* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #1B512D;
}

.navbar {
   display: flex;
   align-items: center;
   padding: 20px;
   background-color: #ffffff;
}

.navbar-header {
   flex: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-toggle {
   font-size: 28px;
   color: #1b3324;
   background: none;
   border: none;
   cursor: pointer;
   display: none;
}

.navbar-menu {
   list-style-type: none;
   display: flex;
}

.navbar-menu li {
   margin-right: 20px;
}

.navbar-menu li a {
   color: #1b3324;
   text-decoration: none;
}

.navbar-menu li:hover {
   background-color: #7c9c87;
   padding: 20px;
}

@media screen and (max-width: 381px) {
   .navbar-menu {
       display: none; 
       flex-direction: column;
   }

   .navbar-toggle {
       display: block; 
   }

   .navbar-menu.show {
       display: flex;
   }
   .navbar-menu li{
      padding: 5px;
   }
}

.container {
   max-width: 1300px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
}

.row {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}

.col-2 {
   flex-basis: 50%;
   min-width: 300px;
   padding: 20px;
}

.col-2 h1 {
   font-size: 50px;
   line-height: 60px;
   margin: 25px 0;
}

.btn {
   display: inline-block;
   background-color: #1B512D;
   color: whitesmoke;
   padding: 8px 30px;
   margin: 30px 0;
   border-radius: 30px;
   transition: background 0.5s;
}

.btn:hover {
   background: #09110c;
}

.categories {
   margin: 70px 0;
}

.col-4 {
   flex-basis: 25%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px;
   transition: transform 0.5s;
}

.col-4 img {
   width: 100%;
}

.title {
   text-align: center;
   margin: 0 auto 80px;
   position: relative;
   line-height: 60px;
   color: #1B512D;
}

.title::after {
   content: '';
   background: #1b3324;
   height: 5px;
   width: 80px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%);
}

h4 {
   color: #1B512D;
   font-weight: normal;
}

.col-4 p {
   font-size: 14px;
}

.col-4:hover {
   transform: translateY(-5px);
}

.offer {
   margin: 80px;
   padding: 30px 0;
   background-color: #FFDEE9;
   background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
   transition: transform 0.5s;
}
.offer img {
   width: 100%; /* Ensure image fits inside the box */
   height: auto; /* Maintain aspect ratio */
   padding: 0; /* Remove padding */
   border-radius: 5%;
}

.offer:hover {
   transform: translateY(-5px);
}


.test {
   padding: 100px 30px;
   text-align: center;
}

.test .col-3 {
   text-align: center;
   padding: 40px 20px;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition: transform 0.5s;
}

.test .col-3 h3 {
   color: #1B512D;
   font-weight: 600;
}

.test .col-3:hover {
   transform: translateY(-10px);
}

.test .col-3 img {
   width: 50px;
   margin-top: 20px;
   border-radius: 50px;
}

.block {
   width: 100%;
   height: 50px;
   background-color: #1B512D;
   position: relative;
}


@media only screen and (max-width: 600px) {
   .container {
       width: 90%;
       margin: 0 auto;
   }

   .col-2 {
       width: 100%;
       margin-bottom: 20px;
   }

   h1 {
       font-size: 24px;
   }

   p {
       font-size: 16px;
   }

   .logo img {
       width: 100px;
   }
}

@media screen and (max-width: 449px) {
   .offer {
       margin: 20px; /* Reduce margin */
       padding: 0 0; /* Reduce padding */
   }

   .offer img {
       width: 100%; /* Ensure image fits inside the box */
       height: auto; /* Maintain aspect ratio */
       padding: 0; /* Remove padding */
   }

   .offer h1 {
       font-size: 35px; /* Reduce font size */
   }

   .offer .btn {
       padding: 5px 20px; /* Adjust button padding */
   }
}